body {
    background-color: rgb(216, 226, 234);
    margin: 50px 50px;
    padding: 0;
}

h2 {
    font-size: 25px;
}

.button {
    outline: none;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.5em 1em 0.5em 1em;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.button.fill {
    background-color: rgb(41, 41, 41);
    color: white;
}

.button.hover:hover {
    background-color: green;
}

.button i {
    width: 10px;
    padding: 0 0.2em;
}
