.first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-inline: px;
    width: 100%;
    height: 600px;
    background-color: #85dcff;
}

.first .media img {
    width: 166.5%;
    height: 100%;
}

.first .media {
    padding-right: 10px;
}

.first .info h1 {
    padding-bottom: 20px;
}

.first .info p {
    width:  550px;
    padding-bottom: 25px;
}

.first .info button {
    border: 1px solid black;
    padding: 1em 5em;
    font-weight: bold;
    border-radius: 0.4em;
}

.first .info button:last-child {
    background-color: black;
    color: white;
}