* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body,
ul,
ul li {
    display: flex;
    flex-wrap: wrap;
}

ul {
    justify-content: space-between;
}

li {
    border: 0.7em solid black;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 0 1em rgb(0, 0, 0.5), 0 0 1em rgb(0, 0, 0.3) inset;
}

