body {
    background-color: #F0F1F5;
    margin: 0;
    padding: 2rem 150px;
    font-family: Helvetica, sans-serif;
}

header nav ul li{
    display: inline-block;
}

a {
    text-decoration: none;
    color: #F9690E;
}

header nav{ 
    text-align: right;
}

header > p {
    float: left;
    color: #F9690E;
}

header ul {
    vertical-align: middle;
    float: right;
}

ul li {
    padding: 5px;
}

main section:nth-child(1) {    
    margin-top: 3rem;
    background-size: cover;
    display: block;
    background-position: center;
    padding: 15rem 25rem;
    background-image: url('images/picture.jpg');
}

main section span {
    color: #F9690E;
}

main section h1 {
    color: white;
}

main section button {
   color: white;
   background-color: #F9690E;
   border: 0px;
   height: 29px;
   width: 109px;
}

main section article {
    background-color: #F9690E;
    color: white;
    display: inline-block;
    font-weight: bold;
    width: 424px;
    height: 193px;
}

main section article p, h3 {
    text-align: center;
    height: 42px;
}

footer article {
    width: 45%;
    display: inline-block;
}

footer article:nth-child(2) {
    text-align: right;
}

footer i {
    padding: 16px;
}


