<header>
  <nav>
    <ul class="navigation">
      <li><a href="/">Home Page</a></li>
      <li><a href="/cats/add-breed">Add Breed</a></li>
      <li><a href="/cats/add-cat">Add Cat</a></li>
    </ul>
  </nav>
  <h1>Cat Shelter</h1>
</header>
<main>
  <form
    method="POST"
    class="cat-form"
    enctype="application/x-www-form-urlencoded"
    name="configorationText"
  >
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{cat.name}}" />
    <label for="description">Description</label>
    <textarea
      id="description"
      name="description"
      name="configorationText"
    >{{cat.description}}</textarea>
    <label for="image">Image</label>
    <input type="file" id="image" name="upload" />
    <label for="group">Breed</label>
    <select id="group" name="breed">
      {{#each breeds}}
        <option value="{{breed}}">{{breed}}</option>
      {{/each}}
    </select>
    <button type="submit">Edit Cat</button>
  </form>
</main>