@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

html {
    font-family: Agbalumo;
}

body {
    margin: 0;
    padding: 40px;
}

.container {
    display: block;
    max-width: 900px;
    border: solid 3px black;
    margin: 0px auto;
    padding: 0px;
    background-color: #d5ebea;
}

header {
    display: block;
}

header h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
}

header p {
    color: black;
    margin: 0 20px 0 20px;
    padding: 0px;
    font-size: 20px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;
}

section {
    background-color: white;
    padding: 40px 20px;
}

.image {
    display: inline-block;
    background-color: white;
    width: 36%;
    height: 340px;
    border: solid 2px black;
}

.image img,
p {
    margin: 10px;
    width: 92%;
    max-height: 200px;
    font-size: 12px;
    text-indent: 30px;
}

.desc {
    display: inline-block;
    vertical-align: top;
}

.desc p {
    max-width: 500px;
    margin: 20px;
    font-size: 18px;
}

.facts {
    padding: 0;
    background: white;
}

.facts h2 {
    color: white;
    background: black;
    margin: 0px;
    width: 400px;
    text-align: center;
}

.facts div {
    margin-top: 0px;
    padding-top: 5px;
    background: #d5ebea;
}

.facts div p {
    font-size: 18px;
}

.facts div p span {
    font-weight: bold;
}
