body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

header nav ul li {
    display: inline-block;
}

header nav ul {
    text-align: center;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a {
    color: #00d3d4;
}

header nav ul li {
    background-color: #F0F1F5;
    margin: -3px;
    margin-top: -19px;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    width: 200px;
    height: 21px;
    padding: 22px;
}

main section{
    display: inline-block;
}

main section:nth-child(1) {
    text-align: center;
    background-color: #555c6f;
    color: #b2b6c0;
    padding: 143px;
    margin: 159px;
    margin-top: -15px;
}

main section:nth-child(2) {
    background-color: #00d3d4;
    color: white;
    margin: -164px;
    margin-top: -22px;
    padding: 104px;
    height: 284px;
    width: 346px;
}

main section:nth-child(2) article h2 {
    position: absolute;
    left: 659px;
    top: 94px;
    width: 0px;
}

main section:nth-child(2) article:nth-child(2) img {
    position: absolute;
    width: 158px;
    margin: 38px;
    right: 134px;
    margin-top: 6px;
    border-width: 10px;
    border-color: white;
    border-style: solid;
}

main section:nth-child(2) article:nth-child(1) p {
    position: absolute;
    margin: 48px;
    width: 217px;
    left: 583px;
}

main section:nth-child(2) article:nth-child(1) .second {
    position: absolute;
    margin-top: 161px;
}